.question__section {
    border: 1px solid rgb(233, 0, 0);
    padding: 20px;
    margin: 10px;
    
    border-radius: 7px;
    width: 98%; /* Ensure it takes full width of its container */
    box-shadow: 2px 2px red;
    margin-bottom: 15px;
}

.question {
    margin-top: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.question span {
    white-space: nowrap;
}

.question input {
    width: 100%;
    height: 40px;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    box-sizing: border-box;
}

.question input:focus {
    border: 1.5px solid rgb(233, 0, 0);
}

.choices__section {
    width: 100%; /* Ensure the section takes the full width */
    margin-top: 20px;
    display: flex;
    gap: 60px;
    align-items: center;
}

.choice__section {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure it takes full width of its container */
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%; /* Ensure the choices container takes the full width */
    border-radius: 5px;
    border: 01px solid gray;
    padding: 20px;
    padding-top: 25px;
    box-sizing: border-box;
}

.input__area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 0.25px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
}

.choice__delete{
    padding: 3px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 1000;
    font-size: 18px;
}

.choice__delete:hover{
    scale: 1.5;
}

.choice {
    display: flex;
    gap: 10px;
    align-items: center;
}

.choice input {
    width: 100%;
    height: 30px;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    border: none;
}

.new__choice {
    display: flex;
    place-self: center;
}

.new__choice button{
    padding: 13px;
    border: none;
    border-radius: 5px;
    background-color: rgb(233, 0, 0);
    color: white;
    font-weight: 500;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
}

.correct {
    margin-top: 20px;
    display: flex;
    gap: 12px;
}

.correct input {
    width: 100%;
    height: 40px;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    box-sizing: border-box;
}

.delete{
    display: flex;
    align-items: center;
    justify-content: right;
}

.question__delete{
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: linear 0.3s ease;
}
.del-icon{
    font-size: 30px;
    background-color: red;
    padding: 4px;
    border-radius: 50%;
    transition: linear 0.3s ease;
}

.question__delete:hover{
    scale: 1.25;
}