.body-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5vw;
    background-color: white;
    min-height: 80vh;
}

.hero-section {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.hero-right {
    width: 40%;
    transition: transform 0.3s ease-in-out;
}

.hero-right:hover {
    transform: scale(1.05);
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-left h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #c90000;
}

.hero-left p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 50px;
    text-align: center;
    width: 80%;
    line-height: 30px;
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.start-button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #c90000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.join-quiz-field {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.join-input {
    padding: 10px;
    border: 1px solid #c90000;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.join-button {
    color: white;
    background-color: #c90000;
    font-size: 24px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-button:hover, .join-button:hover {
    background-color: #a10000;
    transform: scale(1.05);
}

.sample-question {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;
}

.question-card {
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 48%;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.question-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.question-card h2 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 25px;
    font-weight: bold;
    color: #c90000;
}

.question-card ul {
    list-style: none;
    padding: 0;
}

.question-card li {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fluctuate 2s infinite ease-in-out;
    animation-delay: calc(var(--i) * 0.5s);
    font-size: 1.2em;
    background-color: #fff;
}

.question-card li:hover {
    background-color: #f1f1f1;
}

@keyframes fluctuate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
        background-color: #ffe5e5;
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 806px) {
    .hero-section {
        height: auto; /* Adjust height to fit content */
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .hero-right {
        display: none; /* Hide the right section */
    }

    .hero-left {
        width: 90%; /* Take most of the available width */
        align-items: center; /* Center align the content */
        text-align: center;
    }

    .hero-left h1 {
        font-size: 2.5em; /* Adjust font size for smaller screens */
        margin-bottom: 15px;
    }

    .hero-left p {
        font-size: 1em;
        width: 100%; /* Ensure text fits within the container */
        margin-bottom: 30px;
    }

    .button-section {
        gap: 10px; /* Adjust button spacing */
    }
    
    .sample-question {
        flex-direction: column; /* Stack questions vertically */
        align-items: center; /* Center align the questions */
        gap: 20px; /* Add space between the cards */
    }

    .question-card {
        width: 90%; /* Take most of the available width */
    }
}