.body-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 5vw;
    background-color:white;
    min-height: 80vh; /* Ensures the body takes up most of the screen height */
}

.hero-section{
    height: 60vh;
    display: flex;
    justify-content: space-between;
}
.hero-right{
    width: 40%;
    
}
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.body-section h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #c90000;
    white-space: nowrap;
}

.body-section p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 50px;
    text-align: center;
    width: 80%;
    line-height: 30px;
}
.button-section{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}
.start-button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.join-button{
    border: 1px solid red;
    outline: none;
    padding: 1px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(74, 65, 65);
    text-decoration: none;
}

.start-button:hover {
    background-color: rgb(178, 0, 0);
}
.sample-question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.question-card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.question-card h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.question-card ul {
    list-style: none;
    padding: 0;
}

.question-card li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.question-card li:hover {
    background-color: #f1f1f1;
}
